<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap mp rescap">
  <Identity Name="115b743b-4c3a-45e5-a780-6fbd26aec201" Publisher="CN=Test" Version="1.4.1.0" />
  <mp:PhoneIdentity PhoneProductId="115b743b-4c3a-45e5-a780-6fbd26aec208" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Dash</DisplayName>
    <PublisherDisplayName>Graphics Lab</PublisherDisplayName>
    <Logo>assets\Store\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Dash.App">
      <uap:VisualElements DisplayName="Dash" Square150x150Logo="assets\Medium\Medium150x150Logo.png" Square44x44Logo="assets\AppList\AppList.png" Description="Dash allows users to perform operations on documents, organizing, collecting, and sharing information in small knowledge groups." BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="assets\Badge\Badge.png" />
        <uap:DefaultTile Wide310x150Logo="assets\Wide\Wide310x150Logo.png" Square310x310Logo="assets\Large\Large310x310Logo.png" Square71x71Logo="assets\Small\Small71x71Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="assets\SplashScreen\SplashScreen.png" BackgroundColor="#306199" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="win32\Office.Interop.exe" />
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="OfficeInteropService" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="dash">
            <uap:Logo>images\Icon.png</uap:Logo>
            <uap:DisplayName>DASH Uri Scheme</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="http://*" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="http://*.*" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="http://*.*.*" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="https://*" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="https://*.*" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="https://*.*.*" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://*.*.*.*" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="http://*.*.*.*" Type="include" WindowsRuntimeAccess="none" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <!--<uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="documentsLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="videosLibrary" />-->
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>